body {
  margin: 0, 0, 0, 0;
  background-color: #F5FBE6;
  color: #233D4D;
  }

/****************   Nav Section **********************/
nav {
	background-color: lightgreen;
  font-size: large;
  display: flex;
  justify-content: space-around;
}

/***********************  Footer Section   **************************/
footer {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: solid pink;
  display: flex;
  justify-content: center;
}

/*********** Splash Page ************************/
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header h1 {
  font-size: xx-large;
  color: #233D4D;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header img {
  border: solid 10px lightcoral;
  transition: transform 0.3s ease;
}

header img:hover {
  transform: scale(1.02);
  border-color: rgb(246, 118, 118);
}

.address {
 color: #233D4D;
   display: flex;
  align-items: center;
  flex-direction: column;
}

.tagline {
  padding: 20px;
     display: flex;
  align-items: center;
  flex-direction: column;
}

/************* Sections ********************/
hr {

}
#multisection {
  display: flex;
  justify-content: space-around;
}

section h2 {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;

  color: #233D4D;
     display: flex;
  align-items: center;
  flex-direction: column;
  
}

section dl {
  display: grid;
  gap: 10px;
    color: #233D4D;
     /*display: flex;
  align-items: center;
  flex-direction: column;*/
}
dt {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

dd {
  padding-bottom: 10px;
}
#experience {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
    align-items: center;
}

section ul {
  list-style-type: square;
      color: #233D4D;
/*     display: flex;
  align-items: center;
  flex-direction: column;*/
}

section a {
  color: green;
  text-decoration: none;
}
.nounderline {
  text-decoration: none;
}

section a:hover, card.hover {
  font-weight: bold;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.card img {
padding-left: 50px;
}

.card {
  border: solid 10px lightcoral;
  box-shadow: inset;
  outline: auto;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .three-col {
      display: grid;
      grid-template-columns: 1fr;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: aqua;

}

textarea {
   background-color: aqua;
}