body {
  margin: 0, 0, 0, 0;
  }

/****************   Nav Section **********************/
nav {
	background-color: lightgreen;
  font-size: large;
  display: flex;
  justify-content: space-between;
}

/***********************  Footer Section   **************************/
footer {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: solid pink;
  display: flex;
  justify-content: center;
}

/*********** Splash Page ************************/
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header h1 {
  font-size: xx-large;
  color: rgb(255, 213, 128);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header img {
  border: solid 20px brown;
}

.address {
 font-size: x-small;
}

.tagline {
  padding: 20px;
}

/************* Sections ********************/
hr {

}

section h3 {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;

  color: chocolate;
}

section dl {
  display: grid;
  gap: 10px;
}

section ul {
  list-style-type: square;
}

section a {
  color: green;
  text-decoration: none;
}

section a:hover {
  font-weight: bold;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.card img {

}

.card {
  border: solid 10px red;
  box-shadow: inset;
  outline: auto;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .three-col {
      display: grid;
      grid-template-columns: 1fr;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: aqua;

}

textarea {
   background-color: aqua;
}